/Esteban progra 1/Practica 1/appPractica1/nbproject/private/
/Esteban progra 1/Practica 1/appPractica1/build/
/Esteban progra 1/Práctica 2/Practica2/nbproject/private/
/Esteban progra 1/Práctica 2/Practica2/build/
/Esteban progra 1/Nueva Carpeta/appPractica3/nbproject/private/
/Esteban progra 1/Nueva Carpeta/appPractica3/build/