/Esteban progra 1/Practica 1/appPractica1/nbproject/private/
/Esteban progra 1/Practica 1/appPractica1/build/
/Esteban progra 1/Práctica 2/Practica2/nbproject/private/
/Esteban progra 1/Práctica 2/Practica2/build/
/Esteban progra 1/Nueva Carpeta/appPractica3/nbproject/private/
/Esteban progra 1/Nueva Carpeta/appPractica3/build/
/Esteban progra 1/Práctica 4/appPractica4/nbproject/private/
/Esteban progra 1/Práctica 4/appPractica4/build/
/Esteban progra 1/Práctica Vectores/appPracticaArreglos/nbproject/private/
/Esteban progra 1/Práctica Vectores/appPracticaArreglos/build/
/Esteban progra 1/Práctica Matriz/appPracticaMatriz/nbproject/private/
/Esteban progra 1/Práctica Matriz/appProyectoProgra/nbproject/private/
/Esteban progra 1/Práctica Matriz/appProyectoProgra/build/
/Primer Examen/appPrimerExamenProgra1/nbproject/private/
/Primer Examen/appPrimerExamenProgra1/build/
/Esteban progra 1/Práctica Matriz/appPracticaMatriz/build/
/Esteban progra 1/Practica Matriz 2/appPracticaMatriz2/nbproject/private/
/Esteban progra 1/Practica Matriz 2/appPracticaMatriz2/build/